{% extends 'base.html' %}
    {% block content %}
			<div class="col-md-8 content-left">
				<div class="privacy">
					<h2 class="head">Мемлекеттік рәміздер туралы</h2>
					<p>Мемлекеттік рәміздер – бұл біздің мемлекетіміздің, біздің егемендігіміздің берік негізінің бірі.</p>
					<p>Олар Тәуелсіздіктің қасиетті біріктіруші образын  білдіреді».</p>
					<h5>Нұрсұлтан Назарбаев</h5>
					<p>«Қазақстан Республикасының Мемлекеттік рәміздері туралы» Конституциялық Заң 2007 жылы 4 маусымда қабылданды. Осы Заңға сәйкес жыл сайын 4 маусым Қазақстан Республикасында Мемлекеттік рәміздер күні ретінде мерекеленеді.</p>
					<p>Мемлекеттік рәміздер – бұл кез келген мемлекеттің егемендігі мен біртұтастығын бейнелейтін, оның ажырағысыз атрибуттарының бірі. Қазақстан Республикасында Мемлекеттік ту, Мемлекеттік елтаңба және Мемлекеттік гимн мемлекеттік рәміздер болып табылады.</p>
					{% for r in ramizder %}
					<h4 style="color:blue;"><a href="/ramizder/{{ r.id }}">{{ r.title }}</a></h4>
					<p>{{ r.main_desc }}</p>
					<br>
					<p>{{ r.avtor }}</p>
					{% endfor %}
				</div>
			</div>
{% endblock %}